.cards {
	display: grid;
	grid-template-columns: repeat(3, 280px);
	gap: 18px 20px;
	justify-content: center;
}

@media (max-width: 920px) {
	.cards {
		grid-template-columns: repeat(2, 280px);
	}
}

@media (max-width: 630px) {
	.cards {
		grid-template-columns: 280px;
	}
}

@media (max-width: 425px) {
	.cards {
		max-width: 280px;
		margin: 0 auto;
	}
}