.page {
	font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	color: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #353b48;
}