.popup__container {
	box-sizing: border-box;
	width: 430px;
	padding: 34px 36px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #fff;
	border-radius: 10px;
	color: #000;
	position: relative;
}