.profile {
	box-sizing: border-box;
	padding: 40px 0 50px;
	display: flex;
	align-items: center;
}

@media (max-width: 920px) {
	.profile {
		padding: 40px 20px 50px;
	}
}

@media (max-width: 780px) {
	.profile {
		flex-direction: column;
	}
}

@media (max-width: 425px) {
	.profile {
		padding: 30px 0;
	}
}