.profile-popup__title {
	margin: 0 0 54px;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.2;
	color: #000;
}

@media (max-width: 630px) {
	.profile-popup__title {
		margin: 0 0 75px;
		font-size: 18px;
	}
}