.page__content {
	min-width: 320px;
	max-width: 880px;
	margin: 0 auto;
}

@media (max-width: 920px) {
	.page__content {
		padding: 0 40px;
	}
}

@media (max-width: 425px) {
	.page__content {
		padding: 0;
	}
}