.page__content {
	box-sizing: border-box;
	min-width: 320px;
	max-width: 880px;
	margin: 0 auto;
}

@media (max-width: 920px) {
	.page__content {
		padding: 0 25px;
	}
}

@media (max-width: 425px) {
	.page__content {
		padding: 0 20px;
	}
}