.card__remove-btn {
	padding: 0;
	width: 18px;
	height: 20px;
	position: absolute;
	top: 18px;
	right: 15px;
	background: url("../../../images/icons/trash.svg") no-repeat center;
	border: none;
	outline: none;
	z-index: 10;
	cursor: pointer;
	transition: .5s ease;
}

.card__remove-btn:hover {
	transform: scale(1.45);
}