.modal__input {
	margin-bottom: 30px;
	padding: 0 0 12px;
	font-size: 14px;
	line-height: 1.2;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.modal__input:last-of-type {
	margin-bottom: 48px;
}

.modal__input:focus {
	border-bottom: 1px solid #000;
}

@media (max-width: 630px) {
	.modal__input:last-of-type {
		margin-bottom: 45px;
	}
}