.profile__description {
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
	max-width: 380px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 768px) {
	.profile__description {
		justify-self: center;
	}
}

@media (max-width: 425px) {
	.profile__description {
		font-size: 14px;
	}
}