.profile__edit-btn {
	box-sizing: border-box;
	padding: 0;
	width: 24px;
	height: 24px;
	margin-left: 18px;
	border: 1px solid #fff;
	background: url("../../../images/icons/pen-edit.svg") no-repeat center;
}

@media (max-width: 425px) {
	.profile__edit-btn {
		width: 18px;
		height: 18px;
		margin-left: 10px;
	}
}