.popup__close-btn {
	padding: 0;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	position: absolute;
	top: -40px;
	right: -40px;
	background: url("../../../images/icons/close-form.svg") no-repeat center;
}

@media (max-width: 425px) {
	.popup__close-btn {
		top: -50px;
		right: 0;
	}
}