.profile__info {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 16px 18px;
	margin-left: 30px;
	align-items: baseline;
}

@media (max-width: 768px) {
	.profile__info {
		gap: 14px 10px;
		margin-left: 0;
		margin-top: 25px;
	}
}