.profile-modal__container {
	box-sizing: border-box;
	padding: 32px 36px 36px;
	width: 430px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
}

@media (max-width: 630px) {
	.profile-modal__container {
		padding: 25px 20px;
		width: 280px;
	}
}