.card__like-btn {
	padding: 0;
	min-width: 22px;
	min-height: 20px;
	border: none;
	background: url("../../../images/icons/like.svg") no-repeat center;
}

.card__like-btn:hover {
	transform: scale(1.25);
}