.card__like-btn {
	padding: 0;
	width: 22px;
	height: 20px;
	border: none;
	outline: none;
	background: url("../../../images/icons/like.svg") no-repeat center;
	cursor: pointer;
	transition: .3s ease;
}

.card__like-btn:hover {
	transform: scale(1.45);
}