.card__like-btn {
	padding: 0;
	min-width: 22px;
	min-height: 20px;
	border: none;
	outline: none;
	background: url("../../../images/icons/like.svg") no-repeat center;
	cursor: pointer;
	transition: .2s ease;
}